<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Disney Princess Quiz!</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <head>
        <h1> Disney Princess Quiz! </h1>
       
    </head>
    <style>
        div {
            text-align: center;
        }
    </style>
    <div>
        <img src = "static/Princess_Lineup.png", alt = "Princess_Lineup", class = "center"> 
    </div>
</img>
    <body style = "background-color: lightblue;">
        <p>Welcome to the quiz! You will take a series of questions to determine which Disney princess you are! :)</p>
        <a href="/quiz">Click here to begin the experience!</a>
    </body>
</html>